<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tripkorea.on.ontripkorea">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/z_icon_k"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".util.MyApplication">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/><!--maps.v2-->

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_native_key"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_key"
            />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GungTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.MainActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.around.detail.AroundDetailActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.around.detail.AroundDetailedActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.around.detail.AroundDetailMapActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.guide.GuideActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.guide.GuideDetailImageActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.guide.GuideDetailActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.guide.VoiceGuideActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>


        <activity
            android:name=".tabs.toon.ToonDetailImageActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.list.ListDetailActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>

        <activity
            android:name=".tabs.list.ListMapViewActivity"
            android:theme="@style/Theme.GungTheme">
        </activity>




    </application>

</manifest>